.container{
  display: flex-start;
  flex-wrap: wrap;
}

.container2{
  display: flex;

}

.boldfont{
  font-weight: bold;
}

.message {
    color: black;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}